.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex-basis-half {
  flex-basis: 50%;
}

.flex-basis-full {
  flex-basis: 100%;
}

.flex-basis-third{
  flex-basis: 33.33%;
}

.flex-basis-two-third{
  flex-basis: 67%;
}

.flex-basis-one-fifth{
  flex-basis: 20%;
}


.gray {
  color:rgb(224, 219, 219);
}

.yellow {
  color: #ffcc00;
}

.hidden{
  display: none;
}


.avatar {
  width: 70%;
  border-radius: 50%;
}

.center {
  text-align: center;
}

.fs-7 {
  font-size: 0.85rem;
}

.fs-8 {
  font-size: 0.65rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
